venv/
venv
*.pyc
/2.year/2.semestr/ZKR/ZKR/.vs/ZKR/FileContentIndex/b75037a3-dc34-4a07-999a-1a3ddfd917a6.vsidx
/2.year/2.semestr/ZKR/ZKR/.vs/ZKR/FileContentIndex/b9a0bd9a-25ff-4c72-8c2f-c6474cab1271.vsidx
