<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ player.profile_img }}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ player.name }}</h5>
        <p class="card-text level-txt">Level: {{ player.level }}</p>
        <p class="card-text">Class: {{ player.class }}</p>
        <p class="card-text">Race: {{ player.race }}</p>
      </div>
    </div>
  </div>
</div>